# data directories
.ipynb_checkpoints
__pycache__/
Glove/
data/vec_test_glove.pkldata/vec_train_glove.pkl

/data/vec_test_glove.pkl
/data/vec_train_glove.pkl
data/GoogleNews-vectors-negative300.bin.gz

data/embeddings.npy